{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    
    <title>Horarios</title>
</head>
<body>

  <!-- Barra de navegación lateral -->
  <!-- Barra lateral -->
   
  <div class="sidebar">
        <a href="{% url 'inicio' %}" class="{% if request.path == '/' %}active{% endif %}">
            <div class="icon">🏠</div>
            <div class="text">Inicio</div>
        </a>



        <!-- Secciones -->
        <a href="#" data-bs-toggle="collapse" data-bs-target="#submenuSecciones" aria-expanded="false" aria-controls="submenuSecciones" 
        class="{% if current_section == 'secciones' %}active{% endif %}">
            <div class="icon">📊</div>
            <div class="text">Secciones</div>
        </a>
        <div class="collapse submenu {% if current_section == 'secciones' %}show{% endif %}" id="submenuSecciones">
            <a href="{% url 'importar_secciones' %}" 
            class="{% if active_page == 'importar_secciones' %}active{% endif %}">
                Importar Secciones
            </a>
            <a href="{% url 'listar_secciones' %}" 
            class="{% if active_page == 'listar_secciones' %}active{% endif %}">
                Listar Secciones
            </a>
            <a href="{% url 'crear_seccion' %}" 
            class="{% if active_page == 'crear_secciones' %}active{% endif %}">
                Crear Sección
            </a>
        </div>

         <!-- Salas -->
        <a href="#" data-bs-toggle="collapse" data-bs-target="#submenuSalas" aria-expanded="false" aria-controls="submenuSalas" class="{% if current_section == 'salas' %}active{% endif %}">
            <div class="icon">🏫</div>
            <div class="text">Salas</div>
        </a>
        <div class="collapse submenu {% if current_section == 'salas' %}show{% endif %}" id="submenuSalas">
            <a href="{% url 'importar_salas' %}" 
                class="{% if active_page == 'importar_salas' %}active{% endif %}">
                Importar Salas
            </a>
            <a href="{% url 'listar_salas' %}" 
                class="{% if active_page == 'listar_salas' %}active{% endif %}">
                Listar Salas
            </a>
            <a href="{% url 'crear_salas' %}" 
                class="{% if active_page == 'crear_salas' %}active{% endif %}">
                Crear Sala
            </a>
        </div>

        <!-- Horario -->
        <a href="{% url 'horarios' %}">
            <div class="icon">📅</div>
            <div class="text">Horario</div>
        </a>

        <!-- Ajustes -->
        <a href="#" data-bs-toggle="collapse" data-bs-target="#submenuAjustes" aria-expanded="false" aria-controls="submenuAjustes">
            <div class="icon">⚙️</div>
            <div class="text">Ajustes</div>
        </a>
        <div class="collapse submenu" id="submenuAjustes">
            <a href="#{% url 'prueba' %}">Prueba</a>
            <a href="#">Opción 2</a>
        </div>

    </div>
      
<header class="header d-flex align-items-center bg-dark text-white py-3">
    <!-- Logo de INACAP con enlace -->
    <a href="{% url 'horarios' %}" class="me-3">
        <img src="{% static 'img/inacap.png' %}" alt="INACAP Logo" class="logo">
    </a>
    
    <!-- Título del sistema -->
    <h1 class="h4 mb-0">Planificador de Horarios - INACAP</h1>
</header>


    
      
  <div class="content">
    {% block content %}
    
    {% endblock %}
</div>

<!-- Footer -->
<footer>
    <div class="container">
        <small>&copy; Enso Stefano Guidotti Robles - Todos los derechos reservados</small>
    </div>
</footer>
  
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    
</body>
</html>