{% extends 'index.html' %}

<h1>Secciones</h1>

{% block content %}
<h2>Listado de Secciones</h2>
<a href="{% url 'crear_seccion' %}" class="btn btn-primary">Agregar Nueva Sección</a>
<a href="{% url 'importar_salas' %}" class="btn btn-secondary">Confimar datos</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Programa de Estudio</th>
            <th>Mención</th>
            <th>Plan</th>
            <th>Semestre</th>
            <th>Código Asignatura</th>
            <th>Asignatura</th>
            <th>Horas Asignatura</th>
            <th>Sección</th>
            <th>Jornada</th>
            <th>Cupo</th>
            <th>Cantidad Alumnos</th>
            <th>Modalidad</th>
            <th>Subsección</th>
            <th>Tipo Subsección</th>
            <th>Alumnos CFT</th>
            <th>Alumnos IP</th>
            <th>Alumnos UTC</th>
            <th>Estado Sección</th>
            <th>Horas Plan Sección/Sec.</th>
            <th>Horas Planificadas</th>
            <th>Fecha Inicio</th>
            <th>Fecha Término</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for seccion in secciones %}
        <tr>
            <td>{{ seccion.id }}</td>
            <td>{{ seccion.programa_estudio }}</td>
            <td>{{ seccion.mencion }}</td>
            <td>{{ seccion.plan }}</td>
            <td>{{ seccion.semestre }}</td>
            <td>{{ seccion.cod_asignatura }}</td>
            <td>{{ seccion.asignatura }}</td>
            <td>{{ seccion.hrs_asignatura }}</td>
            <td>{{ seccion.seccion }}</td>
            <td>{{ seccion.jornada }}</td>
            <td>{{ seccion.cupo }}</td>
            <td>{{ seccion.cant_alumnos }}</td>
            <td>{{ seccion.modalidad }}</td>
            <td>{{ seccion.subseccion }}</td>
            <td>{{ seccion.tipo_subseccion }}</td>
            <td>{{ seccion.alumnos_cft }}</td>
            <td>{{ seccion.alumnos_ip }}</td>
            <td>{{ seccion.alumnos_utc }}</td>
            <td>{{ seccion.estado_seccion }}</td>
            <td>{{ seccion.horas_plan_seccion_subseccion }}</td>
            <td>{{ seccion.hrs_planificadas }}</td>
            <td>{{ seccion.fecha_inicio }}</td>
            <td>{{ seccion.fecha_termino }}</td>
            <td>
                <a href="{% url 'editar_secciones' seccion.id %}" class="btn btn-warning">Editar</a>
                <a href="{% url 'eliminar_secciones' seccion.id %}" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
    
        {% empty %}
        <tr>
            <td colspan="24">No hay secciones disponibles.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}