body {
    background-color: #121212;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/* NAV STYLE */
.sidebar {
    height: 100vh;
    position: fixed;
    width: 200px;
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    margin-top: 60px; /* Empuja la sidebar hacia abajo, debajo del header */
}

.sidebar a {
    display: flex;
    align-items: center;
    gap: 10px; /* Espacio entre el ícono y el texto */
    text-decoration: none;
    margin: 5px 0;
    color: #ccc;
    padding: 10px;
}

.sidebar a:hover,
.sidebar a.active {
    color: #6c63ff;
    background-color: #282828;
    border-radius: 10px;
}



.sidebar .submenu a {
    padding-left: 30px; /* Espaciado adicional para submenús */
}



.sidebar a.active {
    background-color: #007bff; /* Azul destacado */
    color: white;
}

/* CONTENT STYLE */
.content {
    margin-left: 220px; /* Espacio para la barra lateral */
    padding: 20px;
    flex: 1;
    margin-top: 60px; /* Empuja el contenido hacia abajo, debajo del header */
}

/* FOOTER STYLE */
footer {
    background-color: #1f1f1f;
    color: #ccc;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

/* HEADER STYLE */
header {
    background-color: #333;
    color: #fff;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

header .logo {
    max-height: 60px;
    height: auto;
    padding-top: 5px;
    margin-bottom: 5px;
    border-radius: 20px; /* Bordes redondeados */

}


header h1 {
    margin: 0;
}

/* FORMS STYLE */
.container {
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.form-group label {
    color: #ccc;
}

input[type="text"], input[type="number"], select, textarea {
    background-color: #2a2a2a;
    color: #fff;
    border: 1px solid #444;
    border-radius: 4px;
    padding: 8px;
    width: 100%;
}

input[type="text"]:focus, input[type="number"]:focus, select:focus, textarea:focus {
    outline: none;
    border-color: #6c63ff;
    box-shadow: 0 0 5px rgba(108, 99, 255, 0.7);
}

button {
    font-size: 1rem;
}
