{% extends 'index.html' %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Horario de Sala</h2>
    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Bloques</th>
                <th>Lunes</th>
                <th>Martes</th>
                <th>Miércoles</th>
                <th>Jueves</th>
                <th>Viernes</th>
            </tr>
        </thead>
        <tbody>
            {% for dia, horarios in horarios_por_dia.items %}
                <tr>
                    <td><strong>{{ dia }}</strong></td>
                    {% for horario in horarios %}
                        <td>
                            {{ horario.cod_asignatura }} - {{ horario.asignatura }}<br>
                            Sala: {{ horario.sala_codigo_iso }} ({{ horario.tipo_sala }})<br>
                            {{ horario.bloque_hora_inicio }} - {{ horario.bloque_hora_fin }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}